.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
  }
  
  .content {
    width: 100%;
    max-width: 600px; 
    height: 350px;
    background-color: #bebaba; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  


  
  .box {
    width: 70px;
    height: 70px;
    margin: 5px;
    border: 10px;
    border-color:white;
    ;
  }
  